@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-selection: var(--selection-bg);
  --color-selection-foreground: var(--selection-color);

  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-mypage: var(--mypage)
}

:root {
  --radius: 0.625rem;
  --background: #fffcf0;
  --foreground: #100f0f;
  --card: #fffcf0;
  --card-foreground: #100f0f;
  --popover: #fffcf0;
  --popover-foreground: #100f0f;
  --primary: #1c1b1a;
  --primary-foreground: #f2f0e5;
  --secondary: #f2f0e5;
  --secondary-foreground: #1c1b1a;
  --muted: #f2f0e5;
  --muted-foreground: #6f6e69;
  --accent: #f2f0e5;
  --accent-foreground: #1c1b1a;
  --destructive: #c03e35;
  --border: #e6e4d9;
  --input: #e6e4d9;
  --ring: #9f9d96;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #f2f0e5;
  --sidebar-foreground: #100f0f;
  --sidebar-primary: #1c1b1a;
  --sidebar-primary-foreground: #f2f0e5;
  --sidebar-accent: #f2f0e5;
  --sidebar-accent-foreground: #1c1b1a;
  --sidebar-border: #e6e4d9;
  --sidebar-ring: #9f9d96;

  --font-serif: "EB Garamond", serif;
  --font-sans: "Geist", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --shaded-bg: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23CECDC3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  --selection-bg: #2f968d;
  --selection-color: #fffcf0;

  --warning: #BE9207;
  --success: #768D21;
  --mypage: #3AA99F;
}

.dark {
  --background: #100f0f;
  --foreground: #f2f0e5;
  --card: #1c1b1a;
  --card-foreground: #f2f0e5;
  --popover: #1c1b1a;
  --popover-foreground: #f2f0e5;
  --primary: #e6e4d9;
  --primary-foreground: #1c1b1a;
  --secondary: #282726;
  --secondary-foreground: #f2f0e5;
  --muted: #282726;
  --muted-foreground: #9f9d96;
  --accent: #282726;
  --accent-foreground: #f2f0e5;
  --destructive: #e8705f;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: #6f6e69;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #1c1b1a;
  --sidebar-foreground: #f2f0e5;
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: #f2f0e5;
  --sidebar-accent: #282726;
  --sidebar-accent-foreground: #f2f0e5;
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: #6f6e69;

  --shaded-bg: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23343331' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  --selection-bg: #3aa99f;
  --selection-color: #100f0f;

  --warning: #DFB431;
  --success: #A0AF54;
  --mypage: #2F968D;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.shaded {
  background-image: var(--shaded-bg);
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}
